/* font size 14/16/18/20/24/30/36/44/56/64/70/80 */

body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
}
.flex-class {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-class-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container {
  gap: 30px;
  height: 450px;
  justify-content: flex-start;
  padding: 100px 0px 0px 60px;
  width: 700px;
  color: #fff;
}
.container h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: -1px;
}
.container a {
  text-decoration: none;
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  font-weight: 500;
  font-family: sans-serif;
  border-radius: 5px;
  background-color: #087f5b;
}
.container a:hover {
  background-color: #099268;
  /* font-size: 32px; */
}
